/* TODO: make this dynamically updated by user settings so they can set font size themselves */
:root {
    --user-height: 11px;
}

.headings ul .hidden {
    display: none;
}

.headings .heading-arrow-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: calc(2 * var(--user-height));
    /* background-color: green; */
}

.headings .heading-arrow-container:hover .heading-chevron-button svg {
    fill: grey;
}

.headings h1 {
    color: #fff;
    /* font-size: 8pt; */
    font-size: var(--user-height);
    font-weight: 400;
    margin-left: 4px;
    white-space: nowrap; /* Prevents the text from wrapping */
    overflow: hidden; /* Hides the overflow text */
    text-overflow: ellipsis; /* Shows ellipsis when the text is truncated */
    /* width: 80px; */
    /* color: white; */
}

/* .headings .heading1 {
    padding-left: 0;
}
.headings .heading2 {
    padding-left: 32px;
}
.headings .heading3 {
    padding-left: 64px;
}
.headings .heading4 {
    padding-left: 96px;
}
.headings .heading5 {
    padding-left: 128px;
}
.headings .heading6 {
    padding-left: 160px;
}
.headings .heading7 {
    padding-left: 192px;
} */

.headings a {
    text-decoration: none !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.heading-chevron-button {
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;
    flex-shrink: 0;
}

.heading-chevron-button svg {
    transform: rotate(270deg);
    /* fill: transparent; */
    fill: #414141;
}

.heading-chevron-button:hover svg {
    fill: #fff !important;
}

.clicked svg {
    transform: rotate(180deg);
}

.headings ul {
    list-style: none;
}

.zzzzzzzzzzzzz .heading-arrow-container-v2 h1 {
    white-space: nowrap; /* Prevents the text from wrapping */
    overflow: hidden; /* Hides the overflow text */
    text-overflow: ellipsis; /* Shows ellipsis when the text is truncated */
    width: 80px;
    color: white;
}
