.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75%;
    /* background-color: red; */
}

.login-button {
    padding: 10px 58px;
    border-radius: 9px;
    background-color: var(--color3);
    color: var(--font-color);
    font-size: 12pt;
    border: none;
}
