.settings-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color2);
    border-radius: 10px;
    padding: 7px;
    margin-bottom: 5px;
    /* transition: max-height 1.4s ease; */
    /* transition: display 2s ease; */
    /* transition: padding 0.4s ease; */
    transition: max-height 0.12s ease-in-out, padding 0.05s ease-in-out;
    max-height: 250px;
    overflow: hidden;
}

.settings-container.settings-hidden {
    /* .settings-container:hover { */
    /* display: none; */
    max-height: 0px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    /* transition: max-height 1.4s ease;
    transition: padding 1.4s ease; */
}

.settings-controls-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
}

.zoom-controls-container,
.headings-grid-container {
    display: flex;
    gap: 2px;
    flex-grow: 0;
    flex-shrink: 0;
}

.settings-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    width: 26px;
    border-radius: 7px;
    background-color: var(--color3);
    /* padding: 10px; */
    border: none;
    font-size: 7pt;
    color: var(--font-color);
    font-weight: 500;
    cursor: pointer;
}

.zoom-controls-container button {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* height: 32px;
    width: 32px; */
}
.headings-grid-container button {
    /* height: 22px;
    width: 22px;
    border-radius: 6px; */
}
.zoom-controls-container button svg {
    width: 15px;
    height: 15px;
    fill: var(--font-color);
    /* background-color: red; */
}

.settings-container button:hover {
    filter: brightness(70%);
}

.dark-theme-switch {
    display: flex;
    align-items: center;
    background-color: var(--color3);
    border-radius: 10px;
    height: 33px;
    padding: 0 7px;
    margin-right: auto;
}

.dark-theme-switch p {
    color: var(--font-color);
    font-size: 8pt;
    margin: 0;
    /* font-weight: 600; */
    font-weight: 400;
    padding-bottom: 1px;
    cursor: default;
}

/* ON/OFF Switch: */
.switch {
    visibility: hidden;
    display: none;
}

.switch + label {
    margin-right: 7px;
    padding: 2px;
    width: 38px;
    height: 20px;
    background-color: #c4c4c4;
    border-radius: 999px;
    transition: background 0.4s;
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.switch + label:before,
.switch + label:after {
    display: block;
    position: absolute;
    content: "";
}

.switch + label:before {
    border-radius: 999px;
    transition: background 0.4s;
}

.switch + label:after {
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 16px;
    background-color: #dddddd;
    border-radius: 50%;
    transition: margin 0.4s, background 0.4s;
}

.switch:checked + label:after {
    margin-left: 18px;
}

.switch:checked + label {
    background-color: #2e90d7;
}
