.side-panel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 102px;
    bottom: 0;
    min-width: 285px;
    z-index: 10;
    padding: 16px 0 16px 16px;
    transition: transform 0.4s ease;
}

.side-panel {
    background-color: var(--color1);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 10px;
    position: relative !important;
}

.side-panel h1 {
    color: var(--font-color);
}

.loading-spinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75%;
}

.side-panel-container.side-panel-collapsed {
    transform: translateX(-400px);
}

.side-panel .toggle-settings-button,
.side-panel .collapse-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    border-radius: 7px;
    border-width: 0;
    cursor: pointer;
    background-color: var(--color2);
}

.side-panel-config-container {
    margin-top: auto;
}

.side-panel .toggle-settings-button {
    margin-right: 5px;
}

.collapse-button svg {
    width: 16px;
    height: 16px;
}
.toggle-settings-button svg {
    width: 20px;
    height: 20px;
}

.side-panel .toggle-settings-button:hover,
.side-panel .collapse-button:hover {
    filter: brightness(80%);
}

.expand-button {
    width: 45px;
    height: 38px;
    border-radius: 7px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-width: 0;
    left: -80px;
    bottom: 0;
    display: flex;
    position: fixed !important;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8px;
    cursor: pointer;
    transition: width 0.3s ease;
    background-color: var(--color1);
}

.side-panel-collapsed.expand-button {
    left: 0;
    bottom: 26px;
}

.expand-button:hover {
    filter: brightness(80%);
    width: 50px;
}

.expand-button svg {
    width: 16px;
    height: 16px;
    transform: rotate(180deg);
}

.side-panel-bottom-banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.side-panel-bottom-banner h1 {
    font-size: 20pt;
    letter-spacing: -0.5px;
    line-height: 78%;
    --bg-size: 400%;
    --color-one: #da49df;
    --color-two: #1fbbf9;
    background: linear-gradient(60deg, var(--color-one), var(--color-two), var(--color-one)) 0 0 / var(--bg-size) 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: move-bg 16s infinite linear;
}

@keyframes move-bg {
    to {
        background-position: var(--bg-size) 0;
    }
}

.side-panel-bottom-banner p {
    margin: 0 auto 0 0;
    padding: 0 0 0 5px;
    font-size: 5pt;
    color: var(--font-color);
    filter: brightness(50%);
}

@media screen and (min-width: 1460px) {
    .side-panel-container {
        max-width: 400px;
    }
}
